@import "normalize";
@import "breakpoint";
@import "susy";

@mixin cf {
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

$susy: (columns: 4, container: 1140px, output: isolate, global-box-sizing: border-box, debug: (image: show));

@include border-box-sizing;

// ==========
// Layouts
// ==========

.wrap {
  @include container();

  @include susy-breakpoint(960px, 12) {
    @include show-grid();
  }
}

.sidebar1 {
  @include span(2 first);

  @include susy-breakpoint(960px, 12) {
    @include span(2 first);
  }
}

.sidebar2 {
  @include span(2 last);

  @include susy-breakpoint(960px, 12) {
    @include span(2 last);
  }
}

.content {
  @include susy-breakpoint(960px, 12) {
    @include span(8 at 3);
  }
}

// ==========
// Taking Care of CSS 
// ==========

// Scss. Taking Care of CSS
.content {
  margin-top: 5vh;
  background: rgba(113, 218, 210, 0.8);
}
.content-2 {
  margin-top: 5vh;
  background: rgba(113, 218, 210, 0.8);
}

.sidebar2 {
  margin-top: 5vh;
  margin-bottom: 5vh;
  background: rgba(250, 231, 179, 0.8);
}

.sidebar1 {
  margin-top: 5vh;
  margin-bottom: 5vh;
  background: rgba(120, 122,222, 0.8);
}

h2 {
  padding: 2.5vh 0;
  text-align: center;
  color: #555;
}
